<div class="container p-5">
  <div class="row">
 <div class="btn_agregar">
<a href="/crear" class="btn btn-primary">
              agregar
            </a>
            </div>
    
    <div  >
      {{> tasks/taskTable }}
    </div>
  </div>
</div>